<footer>
    <p> Created by Doa'a Alkhetin -Copy rights {{currentYear}}</p
    <p> hbs helper year -Copy rights {{getCurrentYear}}</p>
    <p> hbs helper upper case welcome message - {{screamIt welcomeMessage}}</p>
</footer>
