<!DOCTYPE html>
  <html>
    <head>
    </head>
        <meta charset="utef">
        <title> About page </title>
    <body>
      {{>header}}
      <p> {{welcomeMessage}}</p>
    </body>
  {{>footer}}
  </html>
