<!DOCTYPE html>
  <html>
    <head>
    </head>
        <meta charset="utef">
        <title> About page </title>
    <body>
      <h1> {{pageTitle}} </h1>
      <p> {{welcomeMessage}}</p>
    </body>
    <footer>
        <p> Copy rights {{currentYear}}</p>
    </footer>
  </html>
