<!DOCTYPE html>
  <html>
    <head>
    </head>
        <meta charset="utef">
        <title> Projects page </title>
    <body>
      {{>header}}
      <p> {{welcomeMessage}}</p>
    </body>

  </html>
